@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: NeueHaasDisplayBlack;
  src: url("../src/assets/fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayBlack.ttf")
      format("eot"),
    url("GraublauWeb.woff") format("woff"),
    url("GraublauWeb.ttf") format("truetype");
}

@font-face {
  font-family: NeueHaasDisplayBold;
  src: url("../src/assets/fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayBold.ttf")
      format("eot"),
    url("GraublauWeb.woff") format("woff"),
    url("GraublauWeb.ttf") format("truetype");
}

@font-face {
  font-family: NeueHaasDisplayLight;
  src: url("../src/assets/fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayLight.ttf")
      format("eot"),
    url("GraublauWeb.woff") format("woff"),
    url("GraublauWeb.ttf") format("truetype");
}

@font-face {
  font-family: NeueHaasDisplayRoman;
  src: url("../src/assets/fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayRoman.ttf")
      format("eot"),
    url("GraublauWeb.woff") format("woff"),
    url("GraublauWeb.ttf") format("truetype");
}

@font-face {
  font-family: NeueHaasDisplayMedium;
  src: url("../src/assets/fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayMediu.ttf")
      format("eot"),
    url("GraublauWeb.woff") format("woff"),
    url("GraublauWeb.ttf") format("truetype");
}
@font-face {
  font-family: NeueHaasDisplayThin;
  src: url("../src/assets/fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayThin.ttf")
      format("eot"),
    url("GraublauWeb.woff") format("woff"),
    url("GraublauWeb.ttf") format("truetype");
}
@font-face {
  font-family: RobotoRegular;
  src: url("../src/assets/fonts/Roboto/Roboto-Regular.ttf") format("eot"),
    url("GraublauWeb.woff") format("woff"),
    url("GraublauWeb.ttf") format("truetype");
}

body {
  font-family: NeueHaasDisplayRoman;
}
.animate_fadeInUp {
  animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
}
.Dropdown-control {
  border-radius: 10px 10px 0px 0px !important;
  color: #ed781f !important;
}
.Dropdown-menu {
  border-radius: 0px 0px 10px 10px !important;
}
